.ProfileContainer {
  row-gap: 2rem;
}

.ProfileData {
  display: grid;
  text-align: center;
}


.ProfileName {
  font-size: var(--h2-font-size);
}

.ProfileProfession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}