.ProfileBtns, 
.ProfileSmallBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Download {
  margin-right: 1rem;
}

.Messanger {
  font-size: 1.25rem;
  
  &:not(:last-child) {
    margin-right: 0.25rem;
  }
}