.Socials {
  display: flex;
  justify-content: center;
}

.SocialsItem {
  &:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.SocialsLink {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: color 0.2s ease 0s;

  &:hover {
    color: var(--first-color);
  }
}
